#mensajeError {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 175px;
}

#botonError{
    width: 50%;
    margin: auto auto;
    margin-bottom: 5px;
}