#view_product{
    border: 1px solid black;
    display: flex;
    flex-flow: column wrap;
    margin: auto auto;
    width: 85%;
    align-items: center;
    
}

.posicionamientoFlexible{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.titulos_generos{
    border: 2px solid red;    
}