#form {
    display: flex;
    flex-flow : column wrap;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 180px;
}

#div\.file{
    margin-top: 25px;
}

#opciones-edicion{
    display: flex;
    flex-flow: row wrap;
}

#opciones-edicion > button {
    margin-right: 20px;
}