#view_product{
    display: flex;
    flex-flow: column wrap;
    margin: auto auto;
    width: 86%;
    align-items: center;
    opacity: 0.85;
}

#datos_usuario{
    margin-top: 25px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

#datos_usuario >ul>li{
    list-style: none;
}

#botones {
    display: flex;
    justify-content: center;
}

#botones > a > button[name="editar"]{
    margin-right: 35px;
}

.posicionamientoFlexible{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
}

.card{
    margin-bottom: 10px;
}

.titulos_generos{
    margin-top: 5px;
}

.pag{
    margin-top: 50px;
}

#paginas {
    margin-bottom: 50px;
    margin-top: 50px;
}

#caja-comentarios{
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
}

#subida-comentarios{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

#subida-comentarios >button{
    width: 25%;
}

#separador-footer{
    margin-top: 20px;
}

#gestionesAdmin{
    margin-bottom: 40px;
}