#view_product{
    display: flex;
    flex-flow: column wrap;
    margin: auto auto;
    width: 86%;
    align-items: center;
    opacity: 0.85;
}

#datos_usuario{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 35px;
    margin-bottom: 50px;
}

#datos_usuario > ul{
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    margin-top: 35px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #3333;
    
}

#datos_usuario >ul>li{
    list-style: disclosure-closed;
}

#botones {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#botones > a > button[name="editar"]{
    margin-right: 35px;
}

.posicionamientoFlexible{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
}


.titulos_generos{
    margin-top: 5px;
}

.pag{
    margin-top: 50px;
}

#paginas {
    margin-bottom: 50px;
    margin-top: 50px;
}

.caja-comentarios{
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
}

#subida-comentarios{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

#subida-comentarios >button{
    width: 25%;
}

#separador-footer{
    margin-top: 20px;
}

#gestionesAdmin{
    margin-bottom: 40px;
}

button > a {
    color: white;
}

button > a:hover {
    text-decoration: none;
    color: white;
}