#logo{
    width: 50px;
}

#caja_busqueda{
    display: flex;
    text-align: center;
}

#reproductor{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 25px;
}

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
  background-image: url(../../body/img/fondo-web.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
