@media (min-width: 1281px) {
    
    #caja-tarjeta{
        margin-bottom: 10px;
        max-height: 310px;
    }

    #caja-tarjeta > img {
        max-height: 65%;
    }
    
    /**** BOTON DE PLAY O PAUSE ****/
    #player{
        padding: 25px;
        color:#333;
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
    }

    #play{
        margin-bottom: 15px;
        cursor: pointer; /*Tipo de cursor */
        background-color:royalblue;
    }

    /**** BARRA DE AUDIO ****/
    #seek-bar{
        width: 50%;
        height: 5px;
        background-color:gray;
        display: flex;
        border-radius: 50px;
        margin-left: 25px;
        cursor: pointer;
    }
    #fill{
        height: 5px;
        background-color:royalblue;
        border-radius: 20px;
    }
    #handle{
        width: 8px;
        height: 8px;
        background-color:royalblue;
        border-radius: 50%;
        margin-left: -5px;
        transform: scale(2);
    }

    #caja-reproductor {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 41%;
        margin: auto auto;
        margin-top: 10px;
        background-color:#3333;
        border-radius: 10px;
    }

    #caja-datos-imagen-reproductor{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #datos-audio{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
        width: 40%;
        margin-right: 2%;
        text-align: center;
    }

    .ancho-input{
    text-align: center;
    }


    #imagen-reproductor{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        width: 58%;
    }

    #imagen-reproductor > img {
        margin-right: 1%;
        border-radius: 10px;
        
    }
    
    .iconos-reproductor{
        width: 30px;
        
    }

    #opciones-reproductor{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .opcion{
        margin-top: 5px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
    
    #likes{
        display: flex;
        flex-flow: row wrap;
        align-content: center;
    }
    
    #likes > a {
        margin-right: 10px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    
    #caja-tarjeta{
        margin-bottom: 10px;
        max-height: 310px;
    }

    #caja-tarjeta > img {
        max-height: 65%;
    }
    
    /**** BOTON DE PLAY O PAUSE ****/
    #player{
        padding: 25px;
        color:#333;
        display: flex;
        margin-top: 10px;
        margin-bottom: 5px;
        border-radius: 20px;
        background-color: #4444;
        margin-left: 10px;
        margin-right: 10px;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
    }

    #play{
        margin-bottom: 15px;
        cursor: pointer; /*Tipo de cursor */
        background-color:royalblue;
    }

    /**** BARRA DE AUDIO ****/
    #seek-bar{
        width: 50%;
        height: 5px;
        background-color:gray;
        display: flex;
        border-radius: 50px;
        margin-left: 25px;
        cursor: pointer;
    }
    #fill{
        height: 5px;
        background-color:royalblue;
        border-radius: 20px;
    }
    #handle{
        width: 8px;
        height: 8px;
        background-color:royalblue;
        border-radius: 50%;
        margin-left: -5px;
        transform: scale(2);
    }

    #caja-reproductor {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 91%;
        max-height: 490px;
        margin: auto auto;
        margin-top: 10px;
        background-color:#3333;
        border-radius: 10px;
    }

    #caja-datos-imagen-reproductor{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
         max-height: 310px;
    }

    #datos-audio{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
        width: 40%;
        margin-right: 2%;
        text-align: center;
    }

    .ancho-input{
    text-align: center;
    }


    #imagen-reproductor{
        display: flex;
        flex-flow: column wrap;
        align-content: flex-end;
        width: 58%;
    }

    .iconos-reproductor{
        width: 30px;
    }

    #imagen-reproductor > img {
        margin-right: 1%;
        border-radius: 10px;
        min-height: 100%;
        max-height: 300px;
        
    }

    #opciones-reproductor{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .opcion{
        margin-top: 5px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
    
    #likes{
        display: flex;
        flex-flow: row wrap;
        align-content: center;
    }
    
    #likes > a {
        margin-right: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape){
    
    #caja-tarjeta{
        margin-bottom: 10px;
        max-height: 310px;
    }

    #caja-tarjeta > img {
        max-height: 65%;
    }
    
    /**** BOTON DE PLAY O PAUSE ****/
    #player{
        padding: 25px;
        color:#333;
        display: flex;
        margin-top: 10px;
        margin-bottom: 5px;
        border-radius: 20px;
        background-color: #4444;
        margin-left: 10px;
        margin-right: 10px;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
    }

    #play{
        margin-bottom: 15px;
        cursor: pointer; /*Tipo de cursor */
        background-color:royalblue;
    }

    /**** BARRA DE AUDIO ****/
    #seek-bar{
        width: 50%;
        height: 5px;
        background-color:gray;
        display: flex;
        border-radius: 50px;
        margin-left: 25px;
        cursor: pointer;
    }
    #fill{
        height: 5px;
        background-color:royalblue;
        border-radius: 20px;
    }
    #handle{
        width: 8px;
        height: 8px;
        background-color:royalblue;
        border-radius: 50%;
        margin-left: -5px;
        transform: scale(2);
    }

    #caja-reproductor {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 91%;
        max-height: 490px;
        margin: auto auto;
        margin-top: 10px;
        background-color:#3333;
        border-radius: 10px;
    }

    #caja-datos-imagen-reproductor{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
         max-height: 310px;
    }

    #datos-audio{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
        width: 40%;
        margin-right: 2%;
        text-align: center;
    }

    .ancho-input{
    text-align: center;
    }


    #imagen-reproductor{
        display: flex;
        flex-flow: column wrap;
        align-content: flex-end;
        width: 58%;
    }

    .iconos-reproductor{
        width: 30px;
    }

    #imagen-reproductor > img {
        margin-right: 1%;
        border-radius: 10px;
        min-height: 100%;
        max-height: 300px;
        
    }

    #opciones-reproductor{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .opcion{
        margin-top: 5px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
    
    #likes{
        display: flex;
        flex-flow: row wrap;
        align-content: center;
    }
    
    #likes > a {
        margin-right: 10px;
    }
}


/********** MOBILE LANDSCAPE *************/
@media (min-width: 481px) and (max-width: 768px) {
    
    #caja-tarjeta{
        margin-bottom: 10px;
        max-height: 310px;
    }

    #caja-tarjeta > img {
        max-height: 65%;
    }
    /**** BOTON DE PLAY O PAUSE ****/
    #player{
        padding: 25px;
        color:#333;
        display: flex;
        margin-top: 10px;
        margin-bottom: 5px;
        border-radius: 20px;
        background-color: #4444;
        margin-left: 10px;
        margin-right: 10px;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
    }

    #play{
        margin-bottom: 15px;
        cursor: pointer; /*Tipo de cursor */
        background-color:royalblue;
    }

    /**** BARRA DE AUDIO ****/
    #seek-bar{
        width: 50%;
        height: 5px;
        background-color:gray;
        display: flex;
        border-radius: 50px;
        margin-left: 25px;
        cursor: pointer;
    }
    #fill{
        height: 5px;
        background-color:royalblue;
        border-radius: 20px;
    }
    #handle{
        width: 8px;
        height: 8px;
        background-color:royalblue;
        border-radius: 50%;
        margin-left: -5px;
        transform: scale(2);
    }

    #caja-reproductor {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 91%;
        max-height: 490px;
        margin: auto auto;
        margin-top: 10px;
        background-color:#3333;
        border-radius: 10px;
    }

    #caja-datos-imagen-reproductor{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        max-height: 310px;
    }

    #datos-audio{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
        width: 40%;
        margin-right: 2%;
        text-align: center;
    }

    .ancho-input{
    text-align: center;
    }


    #imagen-reproductor{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        width: 58%;
    }

    #imagen-reproductor > img {
        margin-right: 1%;
        border-radius: 10px;
        min-height: 100%;
        max-height: 300px;
        
    }

    .iconos-reproductor{
        width: 30px;
    }

    #opciones-reproductor{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .opcion{
        margin-top: 5px;
        margin-right: 15px;
        margin-bottom: 7px;
    }
    
    #likes{
        display: flex;
        flex-flow: row wrap;
        align-content: center;
    }
    
    #likes > a {
        margin-right: 10px;
    }
}

/********** PORTAIBLE *******/
@media (min-width: 320px) and (max-width: 480px) {
    
    #caja-tarjeta{
        margin-bottom: 10px;
        max-height: 310px;
    }

    #caja-tarjeta > img {
        max-height: 65%;
    }
    
    /**** BOTON DE PLAY O PAUSE ****/
    #player{
        padding: 25px;
        color:#333;
        display: flex;
        
        margin-left: 10px;
        margin-right: 10px;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
    }

    #play{
        margin-bottom: 15px;
        cursor: pointer; /*Tipo de cursor */
        background-color:royalblue;
    }

    /**** BARRA DE AUDIO ****/
    #seek-bar{
        width: 50%;
        height: 5px;
        background-color:gray;
        display: flex;
        border-radius: 50px;
        margin-left: 25px;
        cursor: pointer;
    }
    #fill{
        height: 5px;
        background-color:royalblue;
        border-radius: 20px;
    }
    #handle{
        width: 8px;
        height: 8px;
        background-color:royalblue;
        border-radius: 50%;
        margin-left: -5px;
        transform: scale(2);
    }

    #caja-reproductor {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 95%;
        margin: auto auto;
        margin-top: 10px;
        background-color:#3333;
        border-radius: 10px;
    }

    #caja-datos-imagen-reproductor{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #datos-audio{
        margin: auto auto;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
        width: 55%;
        margin-right: 2%;
        text-align: center;
    }

    .ancho-input{
    text-align: center;
    }


    #imagen-reproductor{
        display: flex;
        flex-flow: column wrap;
        align-content: flex-end;
        width: 58%;
    }

    #imagen-reproductor > img {
        margin-right: 1%;
        border-radius: 10px;
        min-height: 100%;
        max-height: 100%;
        
    }

    .iconos-reproductor{
        width: 30px;
    }

    #opciones-reproductor{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
    }

    .opcion{
        margin-top: 5px;
        margin-right: 15px;
        margin-bottom: 5px;
    }
    
    #likes{
        display: flex;
        flex-flow: row wrap;
        align-content: center;
    }
    #likes > a {
        margin-right: 10px;
    }
}
