#caja-reproductor {
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 60px;
    margin-top: 20px;
    margin: auto auto;
}

#datos-audio {
    margin-right: 50px;
    text-align: center;
}

#imagen-reproductor{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#imagen-reproductor > img {
    width: 100%;
}

#botonPlay {
    text-align: center;
}

#opciones-reproductor{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}