#play{
    width: 50px;
    height: 50px;
    border: 0;
    background-color:royalblue;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#play img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/**** BARRA DE AUDIO ****/
#seek-bar{
    width: 100%;
    height: 5px;
    background-color:gray;
    display: flex;
    border-radius: 50px;
    margin-left: 25px;
    cursor: pointer;
}
#fill{
    height: 5px;
    background-color:royalblue;
    border-radius: 20px;
}
#handle{
    width: 8px;
    height: 8px;
    background-color:royalblue;
    border-radius: 50%;
    margin-left: -5px;
    transform: scale(2);
}