#caja-reproductor {
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    justify-content: center;
    margin: auto auto;
    margin-bottom: 60px;
}

#datos-audio {
    border: 1px solid black;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
}

#imagen-reproductor {
    width: 50%;
}

#botonPlay {
    text-align: center;
}